.registration-container {
    background: linear-gradient(135deg, #ff8c42, #ff3e78);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registration-form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    background: #ff3e78;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background: #ff206e;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .login-button {
    background: #4285f4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 48%; 
  }
  
  .login-button:hover {
    background: #1a73e8;
  }
  
  .border1{
    /* background-color: #98564c; */
    background: linear-gradient(135deg, #ff8c42, #ff3e78);
    /* background: linear-gradient(135deg, #ff8c42, #ff3e78); */
    /* background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }